asttokens
attrs
backcall
beautifulsoup4
bleach
blinker
certifi
charset-normalizer
click
colorama
decorator
defusedxml
dnspython
docopt
executing
fastjsonschema
Flask
gunicorn
idna
ipython
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
numpy
packaging
pandocfilters
parso
pickleshare
pipreqs
platformdirs
prompt_toolkit
pure-eval
Pygments
pymongo
python-dateutil
python-dotenv
pyzmq
referencing
requests
rpds-py
six
soupsieve
stack-data
tinycss2
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
yarg

